<ion-header [translucent]="true">
  <ion-toolbar class="ion-padding">
    <ion-item><ion-input label="Interval (sec)" labelPlacement="floating" [(ngModel)]="intervalInput"></ion-input></ion-item>
    <ion-button slot="end" class="ion-padding-start" (click)="start()">Start</ion-button>
    <ion-button slot="end" class="ion-padding-start" (click)="stop()">Stop</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-content>
    <div class="fixed-content">
      <b>All calls are using startTrackingVerified</b><br><br>
      <b>Current interval: </b>{{ currentInterval }}
      
    </div>
  
    <div class="scrollable-content">
      <ion-list>
        <ion-item *ngFor="let location of locationUpdates">
          {{location}}
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-content>
